<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,minimal-ui">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>帮助好友</title>
  <link rel="stylesheet" type="text/css" href="../css/api.css"/>
  <link rel="stylesheet" type="text/css" href="../css/aui.2.0.css" />
  <link rel="stylesheet" type="text/css" href="../css/common.css"/>
  <link rel="stylesheet" type="text/css" href="../css/mui.min.css" />
  <link rel="stylesheet" type="text/css" href="../css/help_friend.css" />
  <script>
        var deviceWidth = document.documentElement.clientWidth;
       if(deviceWidth > 750) {
           deviceWidth = 750;
       }
       document.documentElement.style.fontSize = deviceWidth / 7.5 + 'px';
  </script>
  <style type="text/css">
  	  .zcsj{
  	  	font-size: 0.24rem;
  	  	color: rgb(51,51,51);
  	  }
  	  .fans{
  	  	position: relative;
  	  	height: 1.8rem;
  	  }
  	  .fans_p1{
  	  	/*position: absolute;*/
  	  	font-size: 0.24rem;
  	  	/*bottom: 0;*/
  	  	margin-bottom: 0;
  	  	/*margin-left: 0.35rem;*/
  	  }
  	  .fans1{
  	  		height: 2.3rem;
  	  }
  </style>
</head>
<body>
  <!--<div class="hd">
  	<a href="messages.html">
     	<img src="../image/2_03_03.png" alt="">帮助好友
    </a>
  </div>-->
  <div class="box_o" id='box_o'>
  	<script type="text/html" id="text">
			{{each data as value i}}
			{{if value.status==1}}
				<div class="fans fans1" data-id='{{value.id}}'>
			  	<img src="{{value.headimgurl}}" alt="" />
			  	<div class="fans_comment">
			  		<p class="nam">{{value.nickname}}</p>
			  		<span class="zcsj">注册时间:  {{value.add_time}}</span>
						<p class="fans_p">{{value.desc}}</p>
						<p class="fans_p1">请在24小时内帮助好友开通服务,过期无效</p>
			  	</div>
			  	<div class="right_b">
			  		{{if value.status==1}}
			  			<button onclick="help(this)">确认帮助</button>
			  		{{else value.status==2}}
			  		<button>已帮助</button>
			  	 {{/if}}
			  	</div>
		  	</div>
		  {{else}}
			 <div class="fans" data-id='{{value.id}}'>
			  	<img src="{{value.headimgurl}}" alt="" />
			  	<div class="fans_comment">
			  		<p class="nam">{{value.nickname}}</p>
			  		<span class="zcsj">注册时间:  {{value.add_time}}</span>
						<p class="fans_p">{{value.desc}}</p>
			  	</div>
			  	<div class="right_b">
			  		{{if value.status==1}}
			  			<button onclick="help(this)">确认帮助</button>
			  		{{else value.status==2}}
			  		<button>已帮助</button>
			  	 {{/if}}
			  	</div>
		  	</div>
			{{/if}}
	  	{{/each}}
		</script>
  </div>
	
	  
  <!--<div class="fans">
  	<img src="../image/头像.png" alt="" />
  	<div class="fans_comment">
  		<p class="nam">Dero Hu</p>
  		<p>2018-11-30</p>
		<p class="smcw">用户扫码注册成功成为你的粉丝</p>  		
  	</div>
  	<div class="right_b">
  	<button>确认帮助</button>
  	<span>2019-01-07</span>
  	</div>
  </div>-->
  <!--<div class="fans">
  	<img src="../image/头像.png" alt="" />
  	<div class="fans_comment">
  		<p class="nam">Dero Hu</p>
  		<p>2018-11-30</p>
		<p>用户扫码注册成功成为你的粉丝</p>  		
  	</div>
  	<button>确认帮助</button>
  </div>-->
</body>
<script type="text/javascript" src="../script/aui-slide.js"></script>
<script type="text/javascript" src="../script/aui-dialog.js"></script>
<script type="text/javascript" src="../script/swiper-3.4.2.jquery.min.js"></script>
<script type="text/javascript" src="../script/art-template.js" ></script>
<script type="text/javascript" src="../script/api.js"></script>
<script src="../script/mui.min.js"></script>
<script type="text/javascript" src="../script/jquery-3.3.1.min.js" ></script>
<script type="text/javascript" src="../script/common.js"></script>
<script type="text/javascript">
	       
	       
	       function help(t){
	       	   var id= $('.fans').data('id');
	       	   var type=2;
	       	   console.info(id);
	       	   $.ajax({
               type: "POST",
               url: "http://bus.liebianzhe.com/api/user/act_msg",
               data: {
               	token:token.token,
               	type:type,
                id:id
               },
               success: function(data){
                console.log(data);
                if(data.code==1){
                		$(t).html('已帮助');
//									var html1 = template('text', data);
//									document.getElementById('box_o').innerHTML = html1;
											
                }else{
                	mui.toast(data.msg);
                	
                }

                 }
           })
	       }
	       
		    function GetRequest() {  
							   var url = location.search; //获取url中"?"符后的字串  
							   var theRequest = new Object();  
							   if (url.indexOf("?") != -1) {  
							      var str = url.substr(1);  
							      strs = str.split("&");  
							      for(var i = 0; i < strs.length; i ++) {  
							         theRequest[strs[i].split("=")[0]]=unescape(strs[i].split("=")[1]);  
							      }  
							   }  
							   return theRequest; 
						}
			 var token=GetRequest('token');
			 
          $(function(){
          	
          
             var type='4'
						$.ajax({
               type: "POST",
               url: "http://bus.liebianzhe.com/api/user/person_msg",
               data: {'token':token.token,'type':type}, 	
               success: function(data){
                        console.log(data);
                        if(data.code==1){
												var html1 = template('text', data);
												document.getElementById('box_o').innerHTML = html1;
                        }else{
                        	mui.toast(data.msg);
                        	
                        }

                 }
           })
						
						})
</script>
</html>
   

