<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,minimal-ui">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>我的预约</title>
  <link rel="stylesheet" type="text/css" href="../css/api.css"/>
  <link rel="stylesheet" type="text/css" href="../css/aui.2.0.css" />
  <link rel="stylesheet" type="text/css" href="../css/common.css"/>
  <link rel="stylesheet" type="text/css" href="../css/my_yuyue.css" />
  <script>
  var deviceWidth = document.documentElement.clientWidth;
 if(deviceWidth > 750) {
     deviceWidth = 750;
 }
 document.documentElement.style.fontSize = deviceWidth / 7.5 + 'px';
  </script>
  <style type="text/css">
  	.sdg{
  		display: flex;
  		align-items: center;
  	}
  	.box_content img{
  		width: 0.2rem!important;
    height: 0.26rem!important;
  	}
  	.phone{
  			margin-right: 0.6rem !important;
  	}
  </style>
</head>
<body>
	<!--<button>nihao</button>-->
    <!--<div class="hd">
    	<a href="">
      <img src="../image/2_03_03.png" alt="">我的预约
      </a>
    </div>-->
    <div id="content"></div>
    <!--<section class="box_one">
    	<img src="../image/3_03.png" alt="" class="yh_p"/>
    	<div class="box_content">
    		<p class="slt">水龙头出现破了</p>
    		<p class="sdg">水电工.其他</p>
    		<p class="time">2018-12-01</p>
    		<p class="sdg"><img src="../image/4.7.1.png" alt="" />上海市黄浦区北京东路688号</p>
    		<div class="p_button">
    			<button>已接单</button>
    			<button class="none_order">暂未接单</button>
    		</div>
    	</div>
    </section>-->
</body>
<script id="text" type="text/html">
		{{if data.type==1}}
			{{each data.lists as value i}}
					<section class="box_one">
						<div class="box_c">
				    	<img src="{{value.pics[0]}}" alt="" class="yh_p"/>
				    	<div class="box_content">
				    		<p class="slt">{{value.title}}</p>
				    		<p class="sdg">{{value.wname}}</p>
				    		<p class="time">{{value.servicetime}}</p>
				    		<p class="sdg">
				    			<img src="../image/地址.png" alt="" />
				    			<span>
				    				{{value.city}}{{value.address}}
				    			</span>
				    		</p>				    		
				    	</div>
				    </div>
			    	<div class="p_button">
				    			{{if value.status==1}}
				    				<button class="none_order phone" onclick="ljlx({{value.phone}})">立即联系</button>
				    				<button class="none_order">暂未接单</button>
				    			{{else if value.status==2}}
				    				<button class="none_order" onclick="ljlx({{value.phone}})">立即联系</button>
				    				<button>已接单</button>
				    				<button class="none_order" type="button" onclick="qrwc({{value.id}})">确认完成</button>
				    			{{else if value.status==3}}
				    				<button class="none_order phone" onclick="ljlx({{value.phone}})">立即联系</button>
				    				<button class="none_order">已完成</button>
				    			{{/if}}
				    </div>
			  </section>
			{{/each}}
		{{else data.type==2}}
			{{each data.lists as value i}}
					<section class="box_one">
						<div class="box_c">
				    	<img src="{{value.pics[0]}}" alt="" class="yh_p"/>
				    	<div class="box_content">
				    		<p class="slt">{{value.title}}</p>
				    		<p class="sdg">{{value.wname}}</p>
				    		<p class="time">{{value.servicetime}}</p>
				    		<p class="sdg"><img src="../image/地址.png" alt="" />{{value.city}}{{value.address}}</p>			    		
				    	</div>
			    	</div>
			    	<div class="p_button">
			    			{{if value.status==1}}
			    				<button class="none_order phone" onclick="ljlx({{value.phone}})">立即联系</button>
			    				<button class="none_order" onclick="ljjd({{value.id}})">立即接单</button>
			    			{{else if value.status==2}}
			    			<button class="none_order phone" onclick="ljlx({{value.phone}})">立即联系</button>
			    			<button>已接单</button>
			    			{{else if value.status==3}}
			    			<button class="none_order phone" onclick="ljlx({{value.phone}})">立即联系</button>
			    				<button type="button">已完成</button>
			    			{{/if}}
			    	</div>
			    </section>
			{{/each}}
		{{/if}}
</script>
<script type="text/javascript" src="../script/mui.min.js" ></script>
<script type="text/javascript" src="../script/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="../script/art-template.js"></script>
<script type="text/javascript" src="../script/common.js"></script>
<script>
		var token;
		$(function(){
				token=getUrlParam("token");
				$.ajax({
						type: "post",
						url: "http://bus.liebianzhe.com/api/user/my_release_lists",
						async: false,
						data: {
							token:token,
							type:1
						},
						success: function(data) {
								console.info(data);
								if(data.code==1){
										var html = template('text',data);
										document.getElementById('content').innerHTML = html;
								}
						},
						error: function() {
							console.info("请求失败~");
						}
				});
		})
		
				
		
		//立即联系
		function ljlx(phone){
				if(mui.os.android){
						js.phone(""+phone+"");
				}
				if(mui.os.ios){
						window.webkit.messageHandlers.phone.postMessage({'phone':phone});
				}
		}
		
//		 function ljlx(phone){
//          if(plus.os.name=="Android"){
//            var Intent = plus.android.importClass("android.content.Intent");
//            var Uri = plus.android.importClass("android.net.Uri");
//            var main = plus.android.runtimeMainActivity();
//            var uri = Uri.parse("tel:"+phone);
//            var call = new Intent("android.intent.action.CALL", uri);
//            main.startActivity(call);
//        }else{
//            //plus.device.dial(number, false);
//            var UIAPP=plus.ios.importClass("UIApplication");
//            var NSURL=plus.ios.importClass("NSURL");
//
//            var app=UIAPP.sharedApplication();
//
//            app.openURL(NSURL.URLWithString("tel://"+phone));
//        }
//    }
		
		
		function getUrlParam(name){
			var reg = new RegExp("(^|&)"+ name +"=([^&]*)(&|$)"); //构造一个含有目标参数的正则表达式对象var r = window.location.search.substr(1).match(reg);  //匹配目标参数if (r!=null) return unescape(r[2]); return null; //返回参数值} 
			var r = window.location.search.substr(1).match(reg);  //匹配目标参数
			if (r!=null) return unescape(r[2]); return null; //返回参数值
		}
		function ljjd(id){
			$.ajax({
				type:"post",
				url:"http://bus.liebianzhe.com/api/user/act_release",
				async:true,
				data:{
						token:token,
						type:1,
						id:id
				},
				success:function(data){
					console.info(data);
					if(data.code==1){
						window.location.href="receipt_success.html";
					}
				},
				error:function(){
					console.info("请求失败~");
				}
			});
		}
		function qrwc(id){
			console.info(id);
				$.ajax({
						type:"post",
						url:"http://bus.liebianzhe.com/api/user/act_release",
						async:true,
						data:{
							token:token,
							type:2,
							id:id
						},
						success:function(data){
								console.info(data);
								if(data.code==1){
									window.location.reload();
								}
						},
						error:function(){
							console.info("请求失败~");
						}
				});
		}
</script>
</html>
