body{
  background:#fff;
}
.sjdl{
  height: 0.48rem;
  width: 100%;
  font-size: 0.48rem ;
  color: #333;
  font-weight: bold;
  margin-bottom: 0.8rem;
  text-align: center;
  margin-top: 2rem;
}
.ip_sj{
    width: 100%;
    height:1rem;
    padding: 0 0.3rem;
    margin-bottom: 0.5rem;
}
.ip_sj input{
    width: 100%;
    height: 100%;
    font-size:0.3rem!important;
    border: 1px solid;
    border-color: #eee;
    padding-left: 0.23rem;
    color:#ececec;
}
.sjh{
  margin-bottom: 0.5rem ;
}
.ip_mm{
  width: 100%;
  height:1rem;
  padding: 0 0.3rem;
  margin-bottom: 0.48rem;
}
.ip_mm input{
    width: 100%;
    height: 100%;
    font-size:0.3rem!important;
    border: 1px solid;
    border-color: #eee;
    padding-left: 0.23rem;
    color:#9f9f9f;
}
.yzm{
  width: 100%;
  height: 0.94rem;
  padding: 0.34rem 0.3rem 0.34rem 0.53rem;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.22rem;
}
.yzm span{
  font-size: 0.24rem;
  color: #c9c9c9!important;
}
.dl{
  width: 6.06rem;
  height: 1rem;
  margin: auto;
}
.dl_b{
  display: inline-block;
  width: 100%;
  height: 100%;
  padding: 0;
  line-height: 100%;
  border-radius: 0.5rem;
  background: #f34a74;
  font-size: 0.3rem;
  color: #fff;
}
.ip_s{
  width: 100%;
  height:1rem;
  padding: 0 0.3rem;
  margin-bottom: 0.5rem;
  display: flex;
  align-items: center;
}
.ip_s input{
    width: 70%;
    height: 100%;
    font-size:0.3rem!important;
    border: 1px solid;
    border-color: #eee;
    padding-left: 0.23rem;
    color:#666666;
}
.ip_s button{
  border-radius: 0.05rem!important;
    font-size:0.3rem!important;
    width: 27% ;
    height: 100%;
    border: 1px solid;
    border-color: #df3a65!important;
    padding: 0;
    line-height: 100%;
    color: #df3a65!important;
    background: #ffffff;
}
.wc{
	margin-bottom: 0.65rem;
}
.hd{
  width: 100%;
  height: 1.3rem;
  padding: 0 0 0 0.3rem;
  font-size: 0.36rem;
  color: #a2a2a2;
  font-weight: bold;
  display: flex;
  align-items: center;
  color: #000000;
  background: #fff;

  margin-bottom: 0.1rem;
}
.hd img{
  margin-right: 2.1rem;
  width: 0.4rem;
  height: 0.4rem;
}