html,body{
	background:rgb(234,233,238) ;
}
.hd{
  width: 100%;
  height: 1.2rem;
  padding: 0 0 0 0.3rem;
  font-size: 0.36rem;
  color: #a2a2a2;
  font-weight: bold;
  display: flex;
  align-items: center;
  color: #000000;
  background: #fff;
  border-bottom: 1px solid;
  border-bottom-color: #ddd;
  background: #fff;
  margin-bottom: 0.15rem;
}
.hd img{
  margin-right: 2.1rem;
  width: 0.4rem;
  height: 0.4rem;
}
.img{
	width: 100%;
	height: 4.01rem;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 0.15rem;
}
.img img{
	width: 6.87rem;
	height: 100%;
}
